<ul>
  <li><a href='/pokemons'>Pokemon Index</a></li>
</ul>
<h1>Poketrainer Index Page</h1>
<p><a href='/poketrainers/new'>New Poketrainer</a></p>
<% @poketrainers.each do |poketrainer| %>
  <h3><%= poketrainer.name %><h3>
<% end %>