<%= link_to 'Pokemon Index', '/pokemons' %>

<h1>Poketrainer Index Page</h1>

<%= link_to 'New Poketrainer', '/poketrainers/new' %>

<% @poketrainers.each do |poketrainer| %>
  <h2><%= poketrainer.name %></h2>
  <%= link_to "Edit #{poketrainer.name}", "/poketrainers/#{poketrainer.id}/edit" %>
<% end %>