<form action="/poketrainers/<%= @poketrainer.id %>/pokemons" method='post'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <h3>Catch New Pokemon</h3>
    <label for='name'>Name: </label><br>
    <input type='text' id='name' name='pokemon[name]'><br>
    <label for='level'>Level: </label><br>
    <input type='text' id='level' name='pokemon[level]'><br>
    <label for='primary_type'>Primary Type: </label><br>
    <input type='text' id='primary_type' name='pokemon[primary_type]'><br>
    <label for='secondary_type'>Secondary Type: </label><br>
    <input type='text' id='secondary_type' name='pokemon[secondary_type]'><br>
    <label for='temperment'>Temperment: </label><br>
    <input type='text' id='temperment' name='pokemon[temperment]'><br>
    <label for='bonded_to_trainer'>Bonded to trainer?: </label><br>
    <input type='text' id='bonded_to_trainer' name='pokemon[bonded_to_trainer]'><br><br>
  <input type='submit' value='Catch Pokemon'/>
</form>